<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <!-- Disable Testcontainers Ryuk resource reaper to avoid container startup issues -->
      <TESTCONTAINERS_RYUK_DISABLED>true</TESTCONTAINERS_RYUK_DISABLED>
    </EnvironmentVariables>
  </RunConfiguration>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <IncludeTestAssembly>true</IncludeTestAssembly>
          <ExcludeByFile>**/Migrations/**,*.cshtml.g.cs,*.LogMessages.cs,**/Microsoft.Extensions.Logging.Generators/**</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
